li{
    list-style-type: none;
    background-color: rebeccapurple;
   
}
.list{
padding-bottom: 1rem;



}
a{
    cursor: pointer;
    text-decoration: none !important;
    color: aliceblue;
}
p{
    font-size: 1.5rem;
    font-weight: bold;
}