.Main{
display: flex;
flex-direction: column;


}
.Row-item{
    display: flex;
    flex-direction: row;
   row-gap: 2rem;
   column-gap: 2rem;
   overflow-y:hidden;
overflow-x: scroll;
padding: 20px;
cursor: pointer;
}

.Row-img{
    display: flex;
    width: 50vh;
}
.Row-item::-webkit-scrollbar{
    display: none;
}

.Image-wrap{
    display: flex;
    flex-direction: column;
  margin-bottom: 20rem;
}
.title{
    font-weight: bold;
    
}
@media screen and (max-width: 480px) {
    .Row-img{
        width: 40vh;
    }
    
}